<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Standard Chartered — Custoday Reporting System</title>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="shortcut icon" href="/media/fav/favicon.ico">
  <link rel="icon" type="image/png" href="/media/fav/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/media/fav/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/media/fav/favicon-194x194.png" sizes="194x194">
  <link rel="stylesheet" href="styles/uikit.min.css"/>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
<div class="root crs-scbStripe">
  <div class="uk-container uk-container-expand no-padding">
    <div class="crs-errorPageContentWrapper">
      <div class="crs-errorPage--content">
        <div class="flex flex-wrap--xy crs-shift h-100 flex-center--y" style="justify-content: space-between;">
          <div class="crs-shiftLeft" style="padding:10px;">
            <div class="crs-logo uk-margin" style="width:150px;margin-bottom:50px;">
              <img src="media/logo/standardchartered@2x.png" alt="Standard Chartered Logo">
            </div>
            <div class="uk-margin">
              <h1 class="crs-errorPage--title">
                <span class="text-cap">something went wrong!</span>
              </h1>
              <div style="max-width:445px">
                <p class="crs-errorPage--subTitle text-FontSize--def">
                  <span>The page you're looking for can't be found. Double-check the URL and try again.</span>
                </p>
                <p class="crs-errorPage--subTitle text-FontSize--def">
                  <span>If problem persist, please contact your Administrator.</span>
                </p>
              </div>
            </div>
          </div>
          <div class="crs-shiftRight">
            <div class="crs-shiftIllustration flex flex-center--x">
              <picture>
                <source media="(max-width:769px)" srcset="media/3501x.gif 1x, media/3502x.gif 2x">
                <img src="media/notfound.gif">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="scripts/uikit.min.js"></script>
<script src="scripts/uikit-icons.min.js"></script>
</body>
</html>