<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Standard Chartered — NPRA 0303</title>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="icon" type="image/png" href="media/fav/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="media/fav/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="media/fav/favicon-194x194.png" sizes="194x194">
  <link rel="icon" href="media/fav/favicon.ico">
  <link rel="stylesheet" href="styles/uikit.min.css"/>
  <link rel="stylesheet" href="styles/main.css">
  <style>
    .addUser .uk-modal-dialog {
      width: 500px !important;
    }

    form ul.helper-text {
      display: block;
      font-size: 14px;
      color: hsl(201, 28%, 34%);
      color: #0b2135;
    }

    form ul.helper-text li.valid {
      color: blue;
    }

    form.valid input {
      border: 2px solid blue;
    }
  </style>
</head>

<body style="overflow:hidden">
<div class="root">
  <div class="crs-authedPage">
    <%= partial("./partials/navbar.html") %>
    <main class="crs--content genDash" id="genDashMain" style="height: auto;">
      <div class="uk-container uk-container-expand" style="padding:5px 50px;">
        <div class="crs-authPage--content w-100">
          <div class="crs-authPage--header" style="padding: 5px;">
            <div class="flex uk-margin-small-bottom jSticky" style="top:-3px;height:40px;">
              <div class="flex-100 flex flex-center--y">
                <button class="backBtn uk-padding-remove flex flex-center--y" onclick="goBack()">
                  <span uk-icon="icon:  chevron-left; ratio: 1.3" style="color:#223CA9"></span>
                  <span style="padding-left: 5px;">Back</span>
                </button>
                <h2 class="uk-margin-remove" style="font-size:20px;letter-spacing:0.3px">
                  <span style="color:#656d78">NPRA0303</span>
                </h2>
              </div>
            </div>
          </div>
          <div class="crs-authPage--innerContent" style="height: 83vh">
            <div class="h-100 uk-grid uk-child-width-1-1@l uk-grid-match uk-child-width-1-1@m uk-child-width-1-1@s"
                 uk-grid>
              <div>
                <div
                        class="uk-card uk-card-body uk-card-hover uk-card-default uk-card-bodyPaddingLesser card-radius--all "
                        style="height: 82vh">
                  <div class="userToolbar" style="height: 9%;padding:5px">
                    <div class="row">
                      <div class="col-5 uk-margin-remove" style="visibility: hidden">
                        <div class="jTable" style="height:40px;width: 40%;">
                            <span class="jTableRow">
                              <span class="jTableCell" style="width:15%;color:var(--hue-textPrime)">Show</span>
                              <form class="jTableCell" style="width:58%;" action="#0">
                                <select class="uk-select w-100">
                                  <option>10</option>
                                </select>
                              </form>
                              <span class="jTableCell" style="width:20%;color:var(--hue-textPrime)">entries</span>
                            </span>
                        </div>
                      </div>
                      <div class="col-7 uk-margin-remove">
                        <div class="jTable"
                             style="height: 40px;width:90%;float:right;clear: both;">
                            <span class="jTableRow">
                              <form class=" userSearch jTableCell h-100" method="GET" action="javascript:void(0)"
                                    style="width: 80%;">
                                <div class="uk-inline w-100 h-100 myInputWrapper">
                                  <span class="uk-form-icon" uk-icon="icon:search; ratio:1"></span>
                                  <input id="myInput" onkeyup="myFunction()" class="uk-input w-100 h-100" type="text"
                                         placeholder="Search Clients">
                                </div>
                              </form>
                              <!--- --->
                              <div class="flex-100 flex flex-justifyContent--x1" style="height: 45px;margin-bottom: 5px">
                                <button class="uk-button uk-padding-remove flex flex-center--x flex-center--y"
                                        style="font-size: 13px;background-color:#d2F4FB;color:#223CA9;text-transform:initial;width:120px;" >
                                        <a class="btn btn-light btn-fw pressureButton" href="/npra-303-report-excel?">
                                          <i class="mdi mdi-file-excel"></i>
                                          <span class="font-weight-medium text-color--dark"> Export Excel </span> </a>
                                  <span uk-icon="icon: push; ratio: 0.9" style="color:#223CA9"></span>
                                  <span style="padding-left: 5px;"></span>
                                </button>
                              </div>
                              <div class="jTableCell" style="width: 13%;">
                                <a href="/npra0303-add" class="w-100 h-80 uk-button uk-padding-remove"
                                   style="background-color:var(--brandColorGreenAccent);font-size:13px;box-shadow: 0 8px 20px 0 rgba(34, 169,34, 0.25);color:var(--hue-lght);border-radius:6px;text-transform: none;font-weight: 500;">
                                  <span uk-icon="icon: plus; ratio: 0.9" style="color:#ffffff"></span>
                                  <span>Add NPRA Fees</span>
                                </a>
                              </div>
                              <!--- --->
                            </span> 
                        </div>
                      </div>

                    </div>
                    <!--- --->

                    <!--- --->                    
                  </div>
                  <div class="userTblWrapper" style="height: 92%;margin-top: 12px;">
                    <section
                            style="height: 92%;max-height: 92%;overflow-y:auto;width:100%;margin-top: 2px;">
                      <table class="uk-table-middle usersTbl uk-table uk-table-small uk-table-responsive uk-margin-small-top"
                             style="width: 100%;" id="myTable">
                        <thead>
                        <tr>
                          <th>Report Code</th>
                          <th>Entity ID</th>
                          <th>Entity Name</th>
                          <th>Reference Period Year</th>
                          <th>Reference Period </th>
                          <th>Date of Valuation</th>
                          <th>Unit Number</th>
                          <th>Daily NAV</th>
                          <th>Unit Price</th>
                          <th>NPRA Fees</th>
                          <th>Trustee Fees</th>
                          <th>Fund Managers Fees</th>
                          <th>Fund Custodian Fees</th>
                          <th class="uk-text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%= for (npra303) in npra303s { %>
                        <tr>
                          <td style="width:6%!important"><%= npra303.ReportCode %></td>
                          <td style="width:8%!important"> <%= npra303.EntityID %></td>
                          <td style="width:6%!important"><%= npra303.EntityName %></td>
                          <td style="width:6%!important"><%= npra303.ReferencePeriodYear %></td>
                          <td style="width:5%!important"><%= npra303.ReferencePeriod %></td>
                          <td style="width:8%!important"><%= format_date(npra303.DateValuation) %></td>
                          <td style="width:8%!important"><%= npra303.UnitNumber %></td>
                          <td style="width:8%!important"><%= npra303.DailyNav %></td>
                          <td style="width:8%!important"><%= format_with_comma_decimal(npra303.UnitPrice) %></td>
                          <td style="width:8%!important"><%= format_with_comma_decimal(npra303.NPRAFees) %></td>
                          <td style="width:8%!important"><%= format_with_comma_decimal(npra303.TrusteeFees) %></td>
                          <td style="width:8%!important"><%= format_with_comma_decimal(npra303.FundManagerFees) %></td>
                          <td style="width:8%!important"><%= format_with_comma_decimal(npra303.FundCustodianFees) %></td>
                          <td style="width:50%">
                            <div class="flex">
                              <a class="actionBtn uk-button uk-button-default h-100 w-100 uk-padding-remove"
                                 href='/npra0303-view?id=<%= npra303.ID %>'
                                 style="margin-right:2px;background-color:var( --ethalGrey-lght);color:#0b2135">View</a>
                              <a class="actionBtn uk-button uk-button-default h-100 w-100 uk-padding-remove"
                                 href='/npra0303-edit?id=<%= npra303.ID %>' 
                                 style="margin-right:2px;background-color:var(--brandColorBlue-a10);color:white">Edit</a>
                            </div>
                          </td>
                        </tr>
                        <% } %>
                        </tbody>
                      </table>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </main>
  </div>
</div>
<%= partial("./partials/system.html") %>
<script src="scripts/uikit.min.js"></script>
<script src="scripts/uikit-icons.min.js"></script>
<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function goBack() {
        window.history.back();
    }

</script>
</body>

</html>